<form class="form-container" [formGroup]="studioForm">
  <h1>Create Studio</h1>
  <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" class="form-control" required>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
  </mat-form-field>
  
  <mat-form-field>
      <mat-label>Enter Studio Founding Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="foundingDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!studioForm.valid" (click)="createStudio()">Create</button>
</form>
