<mat-card class="studio-card" appearance="outlined">
  <mat-card-header>
      <mat-card-title>
          {{ studio.name }}
      </mat-card-title>
      <mat-card-subtitle>
          Founding Date: {{ studio.foundingDate || 'Unknown' }}
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      {{ studio.description }}
  </mat-card-content>
  <mat-card-actions>
      <div class="button-row">
      <button mat-flat-button color="primary" (click)="viewMedia()">Media</button>
      <button mat-flat-button color="primary" (click)="updateStudio()">Update Studio</button>
      <button mat-flat-button color="accent" (click)="deleteStudio()">Delete Studio</button>
      </div>
  </mat-card-actions>
</mat-card>