<form>
  <mat-form-field>
    <input type="text" matInput 
           placeholder="Search media by title" 
           [(ngModel)]="title" 
           [ngModelOptions]="{standalone: true}"
           (keyup)="search()">
  </mat-form-field>
</form>

<table mat-table [dataSource]="media" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseDate">
    <th mat-header-cell *matHeaderCellDef> Release Date </th>
    <td mat-cell *matCellDef="let element"> {{element.releaseDate}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="viewDetails(element.id)">Details</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageNo"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="getPageData($event)"
              aria-label="Select page">
</mat-paginator>
