<form>
  <mat-form-field>
    <input type="text" matInput 
           placeholder="Search actor by name" 
           [(ngModel)]="name" 
           [ngModelOptions]="{standalone: true}"
           (keyup)="search()">
  </mat-form-field>
</form>

<table mat-table [dataSource]="actors" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef> Birthdate </th>
    <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="viewDetails(element.id)">Details</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageNo"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="getPageData($event)"
              aria-label="Select page">
</mat-paginator>