<form class="form-container" [formGroup]="producerForm">
  <h1>Create Producer</h1>
  <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" class="form-control" required>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
  </mat-form-field>
  
  <mat-form-field>
      <mat-label>Enter Producer Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Media</mat-label>
      <mat-select [formControl]="mediaControl" multiple>
        <mat-select-trigger>
          {{ mediaControl.value?.[0]?.title || '' }}
          <ng-container *ngIf="(mediaControl.value?.length || 0) > 1">
              <span>
              (+{{ (mediaControl.value?.length || 0) - 1 }} {{ mediaControl.value?.length === 2 ? 'other' : 'others' }})
              </span>
          </ng-container>
        </mat-select-trigger>
        <mat-option *ngFor="let media of mediaList" [value]="media">{{ media.title }}, {{ media.releaseDate.getFullYear() }}</mat-option>
      </mat-select>
    </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!producerForm.valid" (click)="createProducer()">Create</button>
</form>