<mat-card class="producer-card" appearance="outlined">
  <mat-card-header>
      <mat-card-title>
          {{ producer.name }}
      </mat-card-title>
      <mat-card-subtitle>
          Birthdate: {{ producer.birthdate || 'Unknown' }}
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      {{ producer.description }}
  </mat-card-content>
  <mat-card-actions>
      <div class="button-row">
      <button mat-flat-button color="primary" (click)="viewProducedMedia()">Media</button>
      <button mat-flat-button color="primary" (click)="updateProducer()">Update Producer</button>
      <button mat-flat-button color="accent" (click)="deleteProducer()">Delete Producer</button>
      </div>
  </mat-card-actions>
</mat-card>